USE [FinancieraDB]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 7/5/2021 12:18:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Dni] [int] NOT NULL,
	[DireccionComercial] [nvarchar](max) NOT NULL,
	[DireccionParticular] [nvarchar](max) NOT NULL,
	[Telefono] [nvarchar](max) NOT NULL,
	[Celular] [nvarchar](max) NOT NULL,
	[NumeroCliente] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Creditos]    Script Date: 7/5/2021 12:18:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Creditos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Monto] [decimal](18, 0) NOT NULL,
	[FechaEmision] [datetime] NOT NULL,
	[CantidadCuotas] [int] NOT NULL,
	[MontoCuota] [decimal](18, 0) NOT NULL,
	[Estado] [nvarchar](max) NOT NULL,
	[TotalAbonado] [decimal](18, 0) NOT NULL,
	[ClienteId] [bigint] NOT NULL,
	[FechaCancelacion] [datetime] NOT NULL,
	[CodigoCredito] [int] NOT NULL,
	[Interes] [int] NULL,
	[TipoCredito] [nvarchar](max) NOT NULL,
	[Refinanciado] [bit] NULL,
	[Extension] [bit] NULL,
	[CodigoCreditoBase] [int] NULL,
 CONSTRAINT [PK_Creditos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Recibos]    Script Date: 7/5/2021 12:18:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recibos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Numero] [int] NOT NULL,
	[MontoCredito] [decimal](18, 0) NOT NULL,
	[NumeroCuota] [int] NOT NULL,
	[CuotasPendiente] [int] NOT NULL,
	[MontoCuota] [decimal](18, 0) NOT NULL,
	[Saldo] [decimal](18, 0) NOT NULL,
	[UltimoPago] [nvarchar](max) NOT NULL,
	[Atraso] [decimal](18, 0) NOT NULL,
	[Pagado] [decimal](18, 0) NOT NULL,
	[FechaPago] [datetime] NOT NULL,
	[Pago] [decimal](18, 0) NOT NULL,
	[CreditoId] [bigint] NOT NULL,
	[ClienteId] [bigint] NOT NULL,
	[Estado] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Recibos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Creditos]  WITH CHECK ADD  CONSTRAINT [FK_ClienteCredito] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Creditos] CHECK CONSTRAINT [FK_ClienteCredito]
GO
ALTER TABLE [dbo].[Recibos]  WITH CHECK ADD  CONSTRAINT [FK_ClienteRecibo] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Recibos] CHECK CONSTRAINT [FK_ClienteRecibo]
GO
ALTER TABLE [dbo].[Recibos]  WITH CHECK ADD  CONSTRAINT [FK_CreditoRecibo] FOREIGN KEY([CreditoId])
REFERENCES [dbo].[Creditos] ([Id])
GO
ALTER TABLE [dbo].[Recibos] CHECK CONSTRAINT [FK_CreditoRecibo]
GO
